<div>
    <center>
        <h1>Cart</h1>
        {{#each products}}
            <p><strong>Title: </strong>{{this.title}}- <strong>Description: </strong>{{this.description}}</p>
            <p><strong>Price: </strong>{{this.price}}</p>
            <p><strong>Thumbnail: </strong>{{this.thumbnail}}</p>
        {{/each}}
    </center>
</div>