<h1>Login</h1>
<form action="/sessions/login" method="POST">
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="ingrese su email"><br>
    <label for="password">Password</label>
    <input type="text" name="password" placeholder="ingrese su password"><br>
</form>
<button>Enviar</button>
<a href="/sessions/github">GITHUB</a>