<form action="/sessions/login" method="POST">
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="ingrese su email"><br>
    <label for="password">Password</label>
    <input type="text" name="password" placeholder="ingrese su password"><br>
    <button>Enviar</button>
</form>