<form action="/sessions/register" method="POST">
    <label for="firstName">Nombre</label>
    <input type="text" name="firstName" placeholder="ingrese su nombre"><br>
    <label for="lastName">Apellido</label>
    <input type="text" name="lastName" placeholder="ingrese su apellido"><br>
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="ingrese su email"><br>
    <label for="password">Password</label>
    <input type="text" name="password" placeholder="ingrese su password"><br>
    <label for="age">Edad</label>
    <input type="number" name="age" placeholder="ingrese su edad"><br>
    <button>Enviar</button>
</form>